<h3>Comments</h3>

<div class="comments mb-5">
    
    <% if (!post.userComments || post.userComments.length === 0) { %>
        <p>There are no comments yet.</p>
    <%} else { %>
        <% post.userComments.forEach((comment) => { %>
            <div class="comment">
                <span class="commentAuthor"><%= comment.name %></span> on <%= comment.formattedDate %>:
                <p><%= comment.content %></p>
            </div>
        <% }) %>
    <% } %>

</div>

<% if (typeof user != "undefined") { %>
    <h4>Leave a comment below</h4>
 
    <p>You're commenting as <%= user.forename %> <%= user.surname %>. <a href="/blog/user/logout">Not you?</a></p>

    <form action="/blog/posts/<%=post.id%>/comment" method="POST">
        <div class="form-group">
            <textarea class="form-control" name="content" rows="5" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="commentSubmit">Add comment</button>
    </form>

<% } else { %>
    <p>Please <a href="/blog/user/login">log in</a> or <a href="/blog/user/register">register</a> to comment on this post.</p>
<% } %>